.transfer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 140px;
}

.city {
    display: flex;
}

.line_flight {
    background-color: #a2a2a2;
    height: 1px;
    width: 80%;
    align-items: center;
}

.underline {
    background-color: #e5e5e5;
    height: 2px;
    width: 80%;
}

.date_flight {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.date_flight p {
    margin: 0;
}

.line_transfer {
    height: 1px;
    width: 30%;
    background-color: #a2a2a2;
}

.transfer_line_container p {
    margin: 0;
}

.transfer_line_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.airline_name {
    align-self: flex-start;
}

.transfer_line_container p {
    color: #ff8e1d;
    padding-right: 10px;
    padding-left: 10px;
}

.blue {
    color: #0087c9;
}

.arrival,
.departure {
    display: flex;
}

.arrival p,
.departure p {
    margin: 0;
}